.bsImgThmbs {
    display: flex;
}

.bsImgThmb {
    height: 100px;
    padding: 10px;
}

.spanclose {
    cursor:pointer;
}

.tblock {
    padding-bottom: 10px;
}

.bsimgselectcontainer {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;

}

.bsimgselect {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    max-width: 200px;
    padding: 5px;
}

.tbphoto {
    display: flex;
    flex-wrap: wrap;
}

.tbthumbcontainer {
    display: grid;
    justify-items: baseline;
    padding: 5px;
}

.pagination {
    margin: 0 auto;
}

    .pagination span {
        font-size: 2em;
        margin-right: 10px;
    }

.page-number {
    color: #d64161;
    padding: 5px;
    text-decoration: none;
}

.current-page-number {
    color: #666
}

.postspage {
    display: flex;
    flex-direction:column;
}

.postspageitem {
    display: flex;
    padding: 15px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    margin: 5px;
    border-radius: 25px;
    flex-direction: row;
    border-color: black;
    border:solid;
    border-block-width: 5px;
}

.watcherspageitem {
    display: flex;
    padding: 15px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    margin: 5px;
    border-radius: 25px;
    flex-direction: row;
    color: white;
}

.watcherspageitem a {
    color: chartreuse;
}

.leftside {
    justify-self: left;
}
.centersection {
    margin:auto;
}

.rightside {
    float: right;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.postjobspage {
    display: flex;
    flex-direction: column;
}

.postjobspageitem {
    display: flex;
    padding: 15px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    margin: 5px;
    border-radius: 25px;
    flex-direction: row;
}

.repost {
    background: rgba(0, 0, 0, 0.1);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    } 