{% extends "base.html" %}
{% block title %}{{ watcherop }} WATCHER{% endblock %}
{% block content %}
<script type="text/javascript">
    var watcherdata = {{ watcherdata|tojson}}
</script>
<script src="{{ url_for('static', filename='js/addwatcher.js') }}"></script>
<h1>{{ watcherop }} WATCHER</h1>
<form method="POST" enctype="multipart/form-data">
    <select name="wtype" id="wtype">
        <option value="comic" selected>Comic</option>
        <option value="blog">Blog</option>
        <option value="youtube">YouTube</option>
        <option value="twitch">Twitch</option>
    </select>
    <br />
    <h2><label for="url">Url:</label></h2>
    <span id="rssmsg">Must be an RSS feed!</span>
    <span id="currentcomicmsg">Must be the comic homepage!</span>
    <span id="archivalmsg">Must be the first comic link!</span>
    <input type="url" id="url" name="url" class="form-control" maxlength="256" required>
    <br />
    <h3>Schedule Behaviour:</h3>
    <b>Month: </b>
    <input type="number" id="month" name="month" min="0" max="12">
    <b>Day Of Month: </b>
    <input type="number" id="day_of_month" name="day_of_month" min="0" max="28">
    <br /><b>Day Of Week: </b>
    <label for="mon"> Monday </label>
    <input type="checkbox" id="mon" name="day_of_week" value='0'>
    <label for="tue"> Tuesday </label>
    <input type="checkbox" id="tue" name="day_of_week" value='1'>
    <label for="wed"> Wednesday </label>
    <input type="checkbox" id="wed" name="day_of_week" value='2'>
    <label for="thu"> Thursday </label>
    <input type="checkbox" id="thu" name="day_of_week" value='3'>
    <label for="fri"> Friday</label>
    <input type="checkbox" id="fri" name="day_of_week" value='4'>
    <label for="sat"> Saturday </label>
    <input type="checkbox" id="sat" name="day_of_week" value='5'>
    <label for="sun"> Sunday </label>
    <input type="checkbox" id="sun" name="day_of_week" value='6'>
    <br/><b>Hour: </b> 
    <input type="number" id="hour" name="hour" min="-1" max="23">
    <b>Minute: </b>
    <input type="number" id="minute" name="minute" min="-1" max="59">
    <br />
    <h3>Post Behaviour:</h3>
    <label for="repost"> Repost? </label>
    <input type="checkbox" id="repost" name="repost" value="repost" checked>
    <label for="cycle"> Cycle post? </label>
    <input type="checkbox" id="cycle" name="cycle" value="cycle" checked>
    <h5>Cycle post every:</h5>
    <input type="number" id="weeks" name="weeks" min="1" max="53"> Week(s)
    <br />
    <label for="posttext">Post Text(optional):</label>
    <input type="text" id="posttext" name="posttext" class="form-control" maxlength="100">
    <div id="imgpostcheckmark">
        <label for="images"> Images? </label>
        <input type="checkbox" id="images" name="images" value="images">
    </div>
    <label for="tumblr"> Tumblr? </label>
    <input type="checkbox" id="tumblr" name="tumblr" value="Tumblr" checked>
    <div id="tbimgpostcheckmark">
        <label for="tbhasimages"> Add Images To Tumblr Post? </label>
        <input type="checkbox" id="tbhasimages" name="tbhasimages" value="tbhasimages">
    </div>
    <label for="bluesky"> BlueSky? </label>
    <input type="checkbox" id="bluesky" name="bluesky" value="BlueSky" checked>
    <div id="bsimgpostcheckmark">
        <label for="bshasimages"> Add Images To BlueSky Skeet(s)? </label>
        <input type="checkbox" id="bshasimages" name="bshasimages" value="bshasimages">
    </div>
    <br />
    <div id="tbform" name="tbform">
        <h5>Tumblr Post data:</h5>
        <h6><label for="blogname">Blog (if different from default): </label></h6>
        <input type="text" id="blogname" name="blogname" class="form-control" maxlength="150">
        <div id="topttags"></div>
        <h6><label for="ttags">Tags: </label></h6>
        <input type="text" id="ttags" name="ttags" class="form-control" maxlength="150" required>
        <br />
    </div>
    <div id="bsform" name="bsform">
        <h5>BlueSky Skeet(s) data:</h5>
        <div id="topbstags"></div>
        <h6><label for="bstags">Tags: </label></h6>
        <input type="text" id="bstags" name="bstags" class="form-control" maxlength="100" required>
        <br />
    </div>
    <div id="comicform" name="comicform">
        <h2>Comic Watcher data:</h2>
        <p class="hint">Comic Watchers need HTML keys to search for when web scraping</p>
        <label for="searchkeys">Image Search Keys:</label>
        <p class="hint">List of keys to find images (Element, Attribute, Attribute Name) Example: img:id:img1,img:class:img2</p>
        <p class="hint">This is in order of preference. The first key to have images overrides the rest.</p>
        <input type="text" id="searchkeys" name="searchkeys" class="form-control" maxlength="300" required>
        <br />
        <label for="titleprefix">Title Prefix:</label>
        <p class="hint">Added at the beginning of a post title</p>
        <input type="text" id="titleprefix" name="titleprefix" class="form-control" maxlength="100" required>
        <label for="titlekey">Title Key:</label>
        <p class="hint">(Element, Attribute, Attribute Name) Example: div:class:name</p>
        <p class="hint">Alternatively input "slug" if you'd rather use the url slug for the title key</p>
        <input type="text" id="titlekey" name="titlekey" class="form-control" maxlength="100" required>
        <label for="updatekey">Update Key:</label>
        <p class="hint">(Element, Attribute, Attribute Name) Example: div:class:name</p>
        <input type="text" id="updatekey" name="updatekey" class="form-control" maxlength="100" required>
        <label for="prevkey">Prev Key:</label>
        <p class="hint">(Element, Attribute, Attribute Name) Example: a:class:name</p>
        <input type="text" id="prevkey" name="prevkey" class="form-control" maxlength="100" required>
        <label for="nextkey">Next Key:</label>
        <p class="hint">(Element, Attribute, Attribute Name) Example: a:class:name</p>
        <input type="text" id="nextkey" name="nextkey" class="form-control" maxlength="100" required>
        <label for="slugkey">Slug Key:</label>
        <p class="hint">Don't use with Archival. Use only if you want actual page link and the main surveyed link doesn't have it i.e. comic/ vs comic/slug</p>
        <p class="hint">(Element, Attribute, Attribute Name) Example: p:id:name</p>
        <input type="text" id="slugkey" name="slugkey" class="form-control" maxlength="100">
        <br />
        <label for="archival"> Archival? </label>
        <input type="checkbox" id="archival" name="archival" value="archival">
        <label for="pagenum"> Pages per update: </label>
        <input type="number" id="pagenum" name="pagenum" min="0" max="10">
        <br />
    </div>

    <br />
    <span id="errormessages"></span>
    <div align="center">
        <button id="submitBtn" type="submit" class="btn btn-primary">{{ watcherop }} WATCHER</button>
    </div>
</form>
{% endblock %}