{% extends "base.html" %}
{% block title %}Posts{% endblock %}
{% block content %}
<h1>POSTS</h1>
<form method="GET" action="{{ url_for('views.posts') }}" class="d-flex mb-4">
    <input type="text" name="q" class="form-control me-2" placeholder="Search by title"
           value="{{ search_query }}">
    <button class="btn btn-outline-primary" type="submit">Search</button>
</form>
<h2>page {{ pagination.page }}</h2>
<div class="postspage" id="posts">
    {% for post in pagination.items %}
    <div class="postspageitem">
        <div class="leftside">
            <h4>{{ post.title }}</h4>
            {% if post.fortumblr %}
            <b>TUMBLR</b>
            {% endif %}
            {% if post.forbluesky %}
            <b>BLUESKY</b>
            {% endif %}
        </div>
        <div class="centersection">
            <b>Repost:</b>
            <label class="switch">
                {% if post.repost %}
                <input type="checkbox" checked="{{ post.repost }}" onClick="editrepost(this, {{ post.id }}, {{ pagination.page }})">
                {% else %}
                <input type="checkbox" onClick="editrepost(this, {{ post.id }}, {{ pagination.page }})">
                {% endif %}
                <span class="slider round"></span>
            </label>
            <b>Cycle:</b>
            <label class="switch">
                {% if post.cycle %}
                <input type="checkbox" checked="{{ post.cycle }}" onClick="editcycle(this, {{ post.id }}, {{ pagination.page }})">
                {% else %}
                <input type="checkbox" onClick="editcycle(this, {{ post.id }}, {{ pagination.page }})">
                {% endif %}
                <span class="slider round"></span>
            </label>
            {% if post.cycle %}
            {{ post.cycledate }}
            {% endif %}
            <button type="button" class="btn btn-primary" onClick="runpost({{ post.id }}, {{ pagination.page }})">POST NOW</button>
        </div>
        <div class="rightside">
            <b>{{ post.publishdate }}</b>
            <a href="{{ url_for('views.editpost', postid=post.id) }}">EDIT</a>
            <button type="button" class="close" onClick="deletepost({{ post.id }}, {{ pagination.page }})">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    {% if pagination.has_prev %}
    <span>
        <a class='page-number' href="{{ url_for('views.posts', page=pagination.prev_num) }}">
            {{ '<<<' }}
        </a>
    </span>
    {% endif %}

    {% for number in pagination.iter_pages() %}
    {% if pagination.page != number %}
    <span>
        <a class='page-number'
           href="{{ url_for('views.posts', page=number) }}">
            {{ number }}
        </a>
    </span>
    {% else %}
    <span class='current-page-number'>{{ number }}</span>
    {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
    <span>
        <a class='page-number'
           href="{{ url_for('views.posts', page=pagination.next_num) }}">
            {{ '>>>' }}
        </a>
    </span>
    {% endif %}
</div>
<script type="text/javascript">
    function deletepost(postid, currentpage) {
        deleteconfirm = confirm("Are you sure you want to delete this?");
        if (deleteconfirm) {
            fetch("/deletepost", {
                method: "POST",
                body: JSON.stringify({ postid: postid }),
            }).then((_res) => {
                window.location.href = "/posts?page=" + currentpage;
            });
        }
    }
    function runpost(postid, currentpage) {
        fetch("/runpost", {
            method: "POST",
            body: JSON.stringify({ postid: postid }),
        }).then((_res) => {
            window.location.href = "/posts?page=" + currentpage;
        });
    }
    function editrepost(checked, postid, currentpage) {
        fetch("/editrepost", {
            method: "POST",
            body: JSON.stringify({ postid: postid, repost: checked.checked }),
        }).then((_res) => {
            window.location.href = "/posts?page=" + currentpage;
        });
    }
    function editcycle(checked, postid, currentpage) {
        fetch("/editcycle", {
            method: "POST",
            body: JSON.stringify({ postid: postid, cycle: checked.checked }),
        }).then((_res) => {
            window.location.href = "/posts?page=" + currentpage;
        });
    }
</script>
{% endblock %}